@import '../../../mixins/mixins.scss';

.footer {
	@include widthHeight(100%, 8vh);
	@include flexDirJusAli(row, center, center);
	background: linear-gradient(
		to top,
		rgb(221, 221, 221),
		rgba(238, 238, 238, 0.85)
	);
	padding: 1em 0px;
	.footer__container {
		@include flexDirJusAli(row, center, center);
		@include widthHeight(100%, 100%);
		max-width: 1000px;
		padding: 0 2rem;
		.footer__logo {
			@include flexDirJusAli(row, center, center);
			.footer__imgContainer {
				@include widthHeight(100%, 100%);
				margin-right: 0.5em;
				position: relative;
				img {
					@include widthHeight(3.5em, 3.5em);
				}
			}
			.footer__logoText {
				font-size: 23px;
				line-height: 26px;
				background: linear-gradient(
					to bottom,
					rgba(223, 53, 73, 1),
					rgba(233, 83, 69, 0.75)
				);
				color: transparent;
				background-clip: text;
				font-size: 36px;
				font-weight: 900;
			}
		}
		.footer__copyright {
			margin-left: auto;
			.footer__copyrightText {
				color: #000000;
			}
		}
	}
}

@media (max-width: 768px) {
	.footer__copyright {
		padding-left: 1em;
		font-size: 92%;
	}
} ;
