@import '../../../mixins/mixins.scss';

.header {
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	@include topLeftAbsolute(0, 0);
	@include widthHeight(100%, 5em);
	@include flexDirJusAli(row, center, center);
	.header__navigation {
		display: flex;
		align-items: center;
		@include widthHeight(100%, 100%);
		max-width: 1000px;
		padding: 0 1rem;
		.header__toggleButton {
			margin-left: auto;
			margin-right: 1em;
		}
		.header__logo {
			margin-left: 0.5rem;
			a {
				text-decoration: none;
				@include flexDirJusAli(row, center, center);
				color: transparent;
				background: linear-gradient(
					to bottom,
					rgba(223, 53, 73, 1),
					rgba(233, 83, 69, 0.75)
				);
				background-clip: text;
				&:hover,
				&:active {
					color: transparent;
					background: linear-gradient(
						to bottom,
						rgba(223, 53, 73, 0.5),
						rgba(233, 83, 69, 0.25)
					);
					background-clip: text;
					outline-width: 0;
					outline: none;
				}
				img {
					margin-right: 0.5em;
					@include widthHeight(4em, 4em);
				}
				.header__logoText {
					font-size: 36px;
					font-weight: 900;
					border-bottom: 1px solid rgba(223, 53, 73, 1);
					&:hover,
					&:active {
						border-bottom: 1px solid rgba(223, 53, 73, 0.5);
						outline-width: 0;
						outline: none;
					}
				}
			}
		}
		.header__navigationItems {
			margin-left: auto;
			ul {
				list-style: none;
				@include zeroMarginPadding;
				display: flex;
				@include flexDirJusAli(row, center, center);
				li {
					padding: 0 1rem;
					a {
						text-decoration: none;
						font-size: 12px;
						font-weight: 900;
						color: transparent;
						background: linear-gradient(
							to bottom,
							rgba(223, 53, 73, 1),
							rgba(233, 83, 69, 0.75)
						);
						background-clip: text;
						border-bottom: 1px solid rgba(223, 53, 73, 1);
						&:hover,
						&:active {
							color: transparent;
							background: linear-gradient(
								to bottom,
								rgba(223, 53, 73, 0.5),
								rgba(233, 83, 69, 0.25)
							);
							background-clip: text;
							border-bottom: 1px solid rgba(223, 53, 73, 1);
							outline-width: 0;
							outline: none;
						}
						.header__option {
							@include flexDirJusAli(
								column,
								initial,
								initial
							);
							white-space: nowrap;
							.header__optionLineOne {
								text-decoration: none;
								// might remove vvv
								border-bottom: 1px solid #4bb392;
							}
							.header__optionLineTwo {
								text-decoration: none;
								// might remove vvv
								border-bottom: 1px solid #4bb392;
							}
						}
						.header__optionBasket {
							border-bottom: 1px solid #4bb392;
							.header__basketCount {
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.header__navigationItems {
		display: none;
	}
}

@media (min-width: 769px) {
	.header__toggleButton {
		display: none;
	}

	.header__logo {
		margin-left: 0;
	}
}
