.checkoutProduct {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.checkoutProduct__info {
	padding-left: 20px;
}

.checkoutProduct__info > button {
	padding: 0.25em 0.5em;
	background: rgba(75, 179, 146, 1);
	border: 1px solid;
	border-radius: 25px;
	margin-top: 10px;
	border-color: rgba(75, 179, 146, 1);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	color: #111;
	outline: transparent;
	&:hover {
		color: #333333;
		background: rgba(75, 179, 146, 0.75);
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
	}
}

.checkoutProduct__image {
	object-fit: contain;
	width: 180px;
	height: 180px;
}

.checkoutProduct__rating {
	display: flex;
}

.checkoutProduct__title {
	font-size: 17px;
	font-weight: 800;
}
